{
  "extends": [
    "formidable/configurations/es6-react",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "flowtype"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/prefer-es6-class": 0
  }
}
